.shiki {
  padding: 0.875em;
  overflow-x: auto;
  color-scheme: var(--shiki-theme-type, light);
}

code {
  z-index: 0;
  display: block;
  width: max-content;
  position: relative;
  min-width: 100%;
  font-size: var(--font-size, 0.875em);
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.5);
}

code .line:last-child:empty::before {
  content: none;
  counter-increment: none;
}

.has-diff .diff,
.has-highlighted .highlighted {
  width: 100%;
  display: inline-block;
  position: relative;
}

.has-diff .diff.remove::before {
  content: "-";
}

.has-diff .diff.add::before {
  content: "+";
}

.has-diff .diff.remove::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1rem;
  right: -1rem;
  background: rgb(239 68 68 / 0.15);
  border-left: 1px solid rgb(239 68 68 / 0.8);
  z-index: -1;
}

.has-diff .diff.add::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1rem;
  right: -1rem;
  background: rgb(34 197 94 / 0.15);
  border-left: 1px solid rgb(34 197 94 / 0.8);
  z-index: -1;
}

.has-focused .line:not(.focused) {
  opacity: 0.7;
  filter: blur(0.095rem);
  transition:
    filter 0.35s,
    opacity 0.35s;
}

.has-focused:hover .line:not(.focused) {
  opacity: 1;
  filter: blur(0);
}

.has-highlighted .highlighted::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1rem;
  right: -1rem;
  background: rgba(101, 117, 133, 0.16);
  border-left: 1px solid rgba(34, 197, 94, 0.8);
  z-index: -1;
}

.has-highlighted .highlighted.error::after {
  background: rgba(244, 63, 94, 0.16) !important;
}

.has-highlighted .highlighted.warning::after {
  background: rgba(234, 179, 8, 0.16) !important;
}

:host([color-scheme="dark"]) .shiki,
:host([color-scheme="dark"]) .shiki span {
  color: var(--shiki-dark) !important;
}

:host([color-scheme="dark"]) .shiki {
  background-color: var(--shiki-dark-bg) !important;
}
